*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 10vh;
    background-color: crimson;
    color: white;
}

section{
    min-height: 80vh;
    background-color: #333333;
    color: white;
}

footer{
    height: 10vh;
    background-color: crimson;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}
